.articles-list {
    margin: 0 auto;
    width: 70%;
  }
  
  .articles-list ul {
    list-style-type: none;
    padding: 0;
  }
  
  .articles-list li {
    border-bottom: 1px solid #ddd;
    padding: 15px 0;
  }
  
  .articles-list h3 {
    font-size: 1.3rem;
    margin-top: 0;
    margin-bottom: 5px;
  }
  
  .articles-list p {
    font-size: 0.9rem;
    color: #666;
    margin-bottom: 10px;
  }
  
  .articles-list .article-image {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  
  .articles-list .time-ago {
    font-size: 0.7rem;
    color: #999;
  }