.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 75px;
    margin: 0 auto;
    background-color: #030000; /* Tamnija nijansa crvene */
  }

  .logo {
    margin-right: auto; /* Pomeranje loga na skroz levo */
    margin-left: 50px;
  }
  
  .searchbar-container {
    width: 400px;
    margin: 0 20px; /* Margine za razmak od ostalih elemenata */
    flex-grow: 1; /* Omogućava da se search bar kontejner automatski proširi da zauzme preostali prostor */
    
  }
  
  .account-container {
    margin-left: auto;
    margin-right: 50px;
    color: #fff; /* Boja teksta za My Account */
    
  }
  